[mysqld]
port=3307
datadir=C:/Users/Piyush/OneDrive/Desktop/Projects/StackStepper_Portable/mysql-data
plugin-dir=C:/Users/Piyush/OneDrive/Desktop/Projects/StackStepper_Portable/mysql/lib/plugin
lc-messages-dir=C:/Users/Piyush/OneDrive/Desktop/Projects/StackStepper_Portable/mysql/share